{% extends 'layout.html' %}


<!-- <script>


  router.get('/page03', function (req, res) {
    res.render('page03', { behavioursGraded:behavioursGraded | obj })
  })


function grabCohortList(){


const cohortList =
{
   "1":{
      "title":"covid_65+_autumnwinter2023"
   },
   "2":{
      "title":"covid_12+_severely_immunosuppressed"
   },
   "3":{
      "title":"covid_5-11_severely_immunosuppressed"
   },
   "4":{
      "title":"covid_under16_asplenia"
   },
   "5":{
      "title":"covid_under16_chronic_heart_conditions"
   },
   "6":{
      "title":"covid_under16_chronic_kidney_liver_digestive"
   },
   "7":{
      "title":"covid_under16_chronic_neurological_disease"
   },
   "8":{
      "title":"covid_under16_chronic_respiratory_disease"
   },
   "9":{
      "title":"covid_under16_endocrine_disorders"
   },
   "10":{
      "title":"covid_under16_immunosuppression"
   },
   "11":{
      "title":"covid_under16_pregnancy"
   },
   "12":{
      "title":"covid_under16_serious_genetic_abnormalities"
   },
   "13":{
      "title":"covid_16+_asplenia"
   },
   "14":{
      "title":"covid_16+_chronic_heart_and_vascular_disease"
   },
   "15":{
      "title":"covid_16+_chronic_kidney_disease"
   },
   "16":{
      "title":"covid_16+_chronic_liver_disease"
   },
   "17":{
      "title":"covid_16+_chronic_neurological_disease"
   },
   "18":{
      "title":"covid_16+_chronic_respiratory_disease"
   },
   "19":{
      "title":"covid_16+_diabetes_and_endocrine_disorders"
   },
   "20":{
      "title":"covid_16+_immunosuppression"
   },
   "21":{
      "title":"covid_16+_morbid_obesity"
   },
   "22":{
      "title":"covid_16+_pregnant_women"
   },
   "23":{
      "title":"covid_16+_severe_mental_illness"
   },
   "24":{
      "title":"flu_2-3_autumnwinter2023"
   },
   "25":{
      "title":"flu_4-16_autumnwinter2023"
   },
   "26":{
      "title":"flu_65+_autumnwinter2023"
   },
   "27":{
      "title":"flu_chronic_respiratory_disease"
   },
   "28":{
      "title":"flu_chronic_heart_disease"
   },
   "29":{
      "title":"flu_chronic_kidney_disease"
   },
   "30":{
      "title":"flu_chronic_liver_disease"
   },
   "31":{
      "title":"flu_chronic_neurological_disease"
   },
   "32":{
      "title":"flu_coded_eligibility"
   },
   "33":{
      "title":"flu_diabetes"
   },
   "34":{
      "title":"flu_immunosuppression"
   },
   "35":{
      "title":"flu_morbid_obesity"
   }
}

const cTaxo = cohortList => {
  return JSON.stringify(cTaxo)
}


cohortList:cohortList | cTaxo
}

</script> -->

{% block header %}
{% include 'foundations/header-signed-in.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "index",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}



{% set cohortList = ["Covid 65+ Autumn Winter 2023","Covid 12+ Severely Immunosuppressed","Covid 5-11 Severely Immunosuppressed","Covid Under16 Asplenia","Covid Under16 Chronic Heart Conditions","Covid Under16 Chronic Kidney Liver Digestive"] %}

     <!-- "2":{
        "title":"covid_12+_severely_immunosuppressed"
     },
     "3":{
        "title":"covid_5-11_severely_immunosuppressed"
     },
     "4":{
        "title":"covid_under16_asplenia"
     },
     "5":{
        "title":"covid_under16_chronic_heart_conditions"
     },
     "6":{
        "title":"covid_under16_chronic_kidney_liver_digestive"
     },
     "7":{
        "title":"covid_under16_chronic_neurological_disease"
     },
     "8":{
        "title":"covid_under16_chronic_respiratory_disease"
     },
     "9":{
        "title":"covid_under16_endocrine_disorders"
     },
     "10":{
        "title":"covid_under16_immunosuppression"
     },
     "11":{
        "title":"covid_under16_pregnancy"
     },
     "12":{
        "title":"covid_under16_serious_genetic_abnormalities"
     },
     "13":{
        "title":"covid_16+_asplenia"
     },
     "14":{
        "title":"covid_16+_chronic_heart_and_vascular_disease"
     },
     "15":{
        "title":"covid_16+_chronic_kidney_disease"
     },
     "16":{
        "title":"covid_16+_chronic_liver_disease"
     },
     "17":{
        "title":"covid_16+_chronic_neurological_disease"
     },
     "18":{
        "title":"covid_16+_chronic_respiratory_disease"
     },
     "19":{
        "title":"covid_16+_diabetes_and_endocrine_disorders"
     },
     "20":{
        "title":"covid_16+_immunosuppression"
     },
     "21":{
        "title":"covid_16+_morbid_obesity"
     },
     "22":{
        "title":"covid_16+_pregnant_women"
     },
     "23":{
        "title":"covid_16+_severe_mental_illness"
     },
     "24":{
        "title":"flu_2-3_autumnwinter2023"
     },
     "25":{
        "title":"flu_4-16_autumnwinter2023"
     },
     "26":{
        "title":"flu_65+_autumnwinter2023"
     },
     "27":{
        "title":"flu_chronic_respiratory_disease"
     },
     "28":{
        "title":"flu_chronic_heart_disease"
     },
     "29":{
        "title":"flu_chronic_kidney_disease"
     },
     "30":{
        "title":"flu_chronic_liver_disease"
     },
     "31":{
        "title":"flu_chronic_neurological_disease"
     },
     "32":{
        "title":"flu_coded_eligibility"
     },
     "33":{
        "title":"flu_diabetes"
     },
     "34":{
        "title":"flu_immunosuppression"
     },
     "35":{
        "title":"flu_morbid_obesity"
     }
  }
 -->



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

{% for items in cohortList | slice(1) %}
<ul class="nhsuk-list nhsuk-list--bullet {{ loop.index }}">
  {% for item in items %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
{% endfor %}









    </div>
  </div>





{% endblock %}
